.container{
	box-sizing: border-box;
	width: inherit;
	padding: 20px;
	margin: 20px;
	background-color: #eee;
	border: 1px solid #999;
	overflow: auto;
	min-width: 500px;
}

.left{
	position: relative;
	box-sizing: border-box;
	width: 200px;
	float: left;
	border: 1px solid #999;
	background-color: white;
}

.right{
	box-sizing: border-box;
	float: right;
	background-color: white;
	border: 1px solid #999;
	width: 120px;
}

.middle{
	box-sizing: border-box;
	border: 1px solid #999;
	background-color: white;
	margin-left: 240px;
	margin-right: 160px;
}

.left img{
	float: left;
	padding: 20px;
}

#teamName{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.right img{
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#last{
	padding-bottom: 20px;
}

img{
	width: 80px;
	height: 80px;
}

p{
	padding: 20px;
}